# CMake
**/build/
**/build-cmake/
**/install/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/compile_commands.json

# Ninja
**/.ninja_*
**/build.ninja

# VS Code
**/.cache/
**/.vscode/settings.json

# vcpkg
**/vcpkg_installed/